.clients {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
  align-items: center;

  // display: flex;
  // justify-content: center;
  // align-items: center;
  // gap: 20px;
}
